//width
$width: 1680px;
$width-container: 930px;
$max-width: 100%;
$min-width: 414px;
$width-button: 136px;
$width-button-big:168px;

//height
$min-height: 950px;
$max-height: 100vmin;
$max-height: 100vh;
$heiht-button: 40px;

//background
$background-grey: #7f7f7f;
$background-grey-section: #666666;
$background-dark-grey: #474747;
$background-black: #000000;

//text-color
$color-white: white;
$color-grey-blue: #85939f;
$color-blue-green: #02baab;
$color-black: #000000;

//margin
$margin-center: 0 auto;

//fonts
$fonts-h1: 60px;
$font-h3: 36px;
$fonts-h4: 24px;
$font-oxygen: 'Oxygen', sans-serif;
$font-lato:'Lato', sans-serif;
$font-weight: 400;