@media screen and (min-width:300px) and (max-width:930px) {
    body {
        width: 90%;
    }
    .navigation li{
        max-width: 100px;
        width: 100%;
        padding: 0;
        line-height: 30px;
    }
    .navigation li:last-child{
        margin-right: auto;
    }
}
@media screen and (min-width:300px) and (max-width:852px) {
    .card-p{
        font-size:.7em;
    }
    .card-info span{
        font-size: 10px;
    }
    .col-team{
        margin-bottom: 20px;
    }
    .card-list{
        flex-wrap: wrap;
    }
    .card-list li{
        margin-bottom: 20px;
        width: 100%;
    }
    .card-info-wrapper{
        width: 100%;
    }
    .superb-list{
        margin-bottom: 20px;
    }
    .superb-list:last-child{
        margin-bottom: 0;
    }
    .superb-p{
        font-size: 14px;
    }
.col-lg .welcome-title h1{
    font-size: 50px;
}
.block-info{
    font-size: 16px;
}
.h4{
    font-size: 18px;
}
.superb-list li{
    margin-right: 10px;
}
.priz:before{
    right: 300px;
}
.cloud:before{
    right: 300px;
}
.star:before{
    right: 300px;
}
.citate{
    font-size: 18px;
}
    .col-lg .welcome-title h2{
        font-size: 20px;
    }
    .wrapper-img{
        width: 100%;
    }
    .wrapper-img img{
        width: 100%;
        height: auto;
    }
    .right-column-info{
        flex-direction: row;
    }
    .navigation-welcome{
        flex-direction: column;
    }
    .about-user{
        margin-bottom: 20px;
    }
    .info-section{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .right-column-info{
        margin-top: 30px;
        display: flex;
        flex-direction: row;
    }
    .tag{
        display: none;
    }
    .categories li{
        max-width: 180px;
        margin-right: 20px;
    }
    .recent-comments li{
        max-width: 180px;
        margin-right: 20px;
    }
    .img-section img{
        width: 100%;
    }
    .photo-list li img{
      width: 100%;
    }
    .card-element{
        margin-right: 30px;
    }
}
@media screen and (min-width:300px) and (max-width:500px) {
    .button-nav{
        display: none;
    }
    .btn-bottom{
        display: none;
    }
    .description li{
        text-align: left;
        font-size: 12px;
    }
    .all-content{
        margin-right: 30px;
        font-size: 12px;
    }
}
@media screen and (min-width:300px) and (max-width:575px) {
    .card-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .card-list li:last-child{
        margin-right: 30px;
    }
    .priz:before{
        display: none;
    }
    .cloud:before{
        display: none;
    }
}
@media screen and (min-width:300px) and (max-width:560px) {
    .latest-work{
        display: none;
    }
}
@media screen and (min-width:300px) and (max-width:575px) {
    .dots{
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: column;
    }
    .dots li{
        margin-right: 0;
        margin-bottom: 10px;
    }
    .dots li:last-child{
        margin-bottom: 0;
    }

}
@media screen and (min-width:300px) and (max-width:500px) {
    h1{
        font-size: 28px;
        margin-bottom: 20px;
    }
    h2{
        font-size: 20px;
    }
    .wrapper-img{
        width: 100%;
    }
    .wrapper-img img{
        width: 100%;
    }
    .col-sm{
        width: 100%;
    }
    .latest-work{
        display: none;
    }
    .carousel-control-prev-icon{
        display: none;
    }
    .carousel-control-next-icon{
        display: none;
    }
    .priz:before{
        display: none;
    }
    .cloud:before{
        display: none;
    }
    .row{
        vertical-align: middle;
    }
    .col{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .col-sm{
        max-width: 290px;
    }
}
@media screen and (min-width:300px) and (max-width:485px) {
    .card-element{
        margin: 0 auto;
    }
    .card-list li:last-child{
        margin-right: auto;
    }
}
@media screen and (min-width:300px) and (max-width:390px) {
    h1{
        font-size: 16px;
    }
    h2{
        font-size: 14px;
    }
    .dots-mg{
        margin: 0 auto;
    }
.about-user li{
    margin-left: 5px;
    margin-right: 5px;
}
}
@media screen and (min-width:300px) and (max-width:390px) {
    body p{
        font-size: 14px;
    }
    .carousel-inner{
        display: none;
    }
    .input-header{
        max-width: 100px;
    }
    .about-user a{
        font-size: 10px;
    }
    .categories{
        max-width: 130px;
        margin-right: 10px;
    }
    .categories h4{
        font-size: 15px;
    }
    .categories li{
        max-width: 130px;
        margin-right: 15px;
    }
    .recent-comments h4{
        font-size: 15px;
    }
    .recent-comments{
        max-width: 130px;
    }
    .recent-comments li{
        max-width: 130px;
        margin-right: 15px;
    }
}
