.fa-comments{
  color: $color-blue-green;
  &:visited{
    color: $color-violet;
    text-decoration: none;
  }
}
.fa-cogs,
.fa-phone,
.fa-rocket,
.fa-circle{
  color: $color-white;
}
.fa-heart{
  margin-bottom: 5px;
}
.fa-chevron-up{
  color:$color-blue-green;
  margin: 0 10px 0 10px;
}
