*, :hover, :focus, :active{
  outline:none;
}
.button-search{
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  color: $color-grey-blue;
  outline: none;
  &:focus{
    outline: none;
  }
}
.btn{
width: $width-button;
  height: $heiht-button;
  background-color: $color-blue-green;
  font-size: 12px;
  color: $color-white;
  font-weight: 400;
  font-family: $font-oxygen;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 0;
  margin-right: 30px;
  &:focus{
    outline: none;
  }
}
.btn--transparent{
  border: 2px solid $color-blue-green;
  background-color: transparent;
  margin-right: 0;
}
.btn--font-green{
  color: $color-blue-green;
  &:focus{
    outline: none;
  }
}
.btn-white-border{
  width: $width-button-big;
  border: 2px solid $color-white;
}
.btn-comment{
  width: 140px;
  height: 40px;
 align-self: flex-end;
  background-color: $color-white;
  margin: 20px 0 20px 0;
}
.btn-footer{
  text-transform: none;
  width: 155px;
}
.btn-grey-border{
  border: 1px solid $color-lightgrey;
  text-transform: none;
  color: $color-blue-green;
  font-size: 12px;
  padding:9px;
  background-color: transparent;
  font-family: $font-oxygen;
  &:hover{
    color:$color-white;
    background: $color-blue-green;
    border: none;
  }
}
.btn-mrg{
  margin: 20px 37px 20px 36px;
  &:hover{
      background-color: $color-blue-green;
    color: $color-white;
  }
}
.circul{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: $background-dark-blue;
  margin-right: 10px;
  i{
    margin-top: 2px;
  }
}

.button-nav {
  display: flex;
  justify-content: flex-start;
  .nav-btn-bar{
    outline: none;
  background: transparent;
    width: 38px;
    height: 38px;
    border: 2px solid $color-light-grey;
    &:hover{
      border: 2px solid $orange;
    }
    i{
      text-align: center;
      color:$orange;
      padding: 0;
      margin: 0;
    }
  }
}
.btn-bottom{
  display: flex;
  align-items: flex-start;
  width: 98px;
  height: 36px;
  border: 2px solid $orange;
  color: $orange;
  margin-top: 50px;
  outline: none;
}