.card-footer{
  display: flex;
  position: relative;
  justify-content: space-between;
  max-width: 290px;
  height: 71px;
  left: 15px;
  bottom: 71px;
  background-color: #3d3d3d;
  .info-autor {
    text-align: left;
  }
  .like{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.card--blog{
  flex-direction: column;
  height: 235px;
  bottom:0;
  background: $color-white;
  border-bottom: 1px solid grey;
  padding: 0;
}
.card-company{
  position: absolute;
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
}
.card-team{
  padding: 0;
  background-color: white;
  max-width: 210px;
  left: 0;
  bottom: 120px;
  height: auto;
}
