.col-sm {
  img {
    display: block;
  }
}
.col-hover{
  display: none;
  position: absolute;
  top:0;
  left: 15px;
  bottom: 0;
  right:0;
  z-index: 1;
  width: 290px;
  height: 290px;
  background-color: #000000;
  opacity: 0.7;
}
