h1{
      font-size: $fonts-h1;
     font-family: $font-oxygen;
     color: $color-blue-green;
   }
h2{
  font-size: $fonts-h1;
  font-family: $font-oxygen;
  color:$color-white;
}
h3{
  font-size: $font-h3;
  font-family: $font-oxygen;
}
.h4{
font-size:$fonts-h4;
  font-family: $font-oxygen;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 17px;
}
.blog--h4{
  margin: 0;
}
.company-h4{
  color: $color-white;
}
.p{
  font-size: 18px;
  font-family: $font-oxygen;
  line-height: 30px;
  margin-top:47px;
  margin-bottom: 47px;
}
.citate{
  font-size: 24px;
  color: $color-white;
  font-family: $font-oxygen;
  line-height: 30px;
  margin-bottom: 21px;
}
.list-footer,
.superb-p,
.blog-p{
  font-size: 14px;
  margin: 0;
  text-align: left;
  font-family: $font-oxygen;
  line-height: 24px;
}
.blog-p{
  margin: 31px 0 0 0;
}
.top-p{
  text-align: center;
  color:$color-blue-green;
  margin: 0;
  white-space: nowrap;
}
.top-span{
  color:grey;
  white-space:nowrap;
}
.coment-p{
  color: $color-black;
  margin: 0;
  margin-left: 5px;
}
.blockquote-p{
  font-size:18px;
  color:#02baab;
  font-family: $font-lato;
}
span{
  font-family: $font-oxygen;
  font-size:12px;
  color:#02baab;
  text-align: left;
}
.block-info{
  font-size: 1.5rem;
  color: $color-white;
  text-align: left;
}
.company-h4{
  font-family: $font-oxygen;
  font-size: 48px;
}
.company-p{
  white-space: nowrap;
  font-size: 18px;
  color: $color-white;
  font-family: $font-oxygen;
  line-height: 24px;
}
.company-p-wrap{
  white-space: normal;
}