.card-footer{
  a{
    &:link{
      color: $color-blue-green;
    }
    &:visited{
      color: $color-violet;
    }
  }
}
.link-bottom{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  a,i{
    color:$color-blue-green !important;
  }
}