.card-list-blog{
  a {
    &:link {
      color: $color-blue-green;
      text-decoration: none;
    }
  }
}
.card-list-blog{
  a{
  &:visited {
    color: $color-violet;
    text-decoration: none;
  }
  }
}