.list-header{
display: flex;
}
.list-header{
  li{
    color: $color-grey-blue;
    margin-left: 2rem;
  }
  &:last-child{
    margin-left: 0;
  }
  a{
    color: $color-grey-blue;
    &:hover{
      text-decoration: none;
      color: $color-grey-blue;
    }
  }
}
.navigation{
  display: flex;
  li{
    text-transform: uppercase;
    text-align: center;
    margin: $margin-center;
    line-height: 70px;
    padding:0 1em 0 1em;
    &:last-child{
      margin-right: 0;
    }
    }
  }
  a{
    color:$color-white;
    font-size: 12px;
    font-family: $font-oxygen;
    &:hover{
      color:$color-white;
      text-decoration: none;
    }
  }
@each $color in $colors {
  $i: index($colors, $color);
  .navigation > :nth-child(#{$i}) {
    border-top: 10px solid nth($colors, $i);
  }
}
.icon-list{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  li{
    border-radius: 40px;
    background: $color-blue-green;
    width: 40px;
    height:40px;
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  i{
    margin-top: 15px;

  }
}

  .card-list-style {
    display: flex;
    align-items: center;
    .card-list {
      position: relative;
    }
  }
  .card-list {
    &:hover {
      .col-hover {
        display: block;
      }
    }
  }
  .icon {
    display: flex;
    flex-direction: column;
    padding-top: 76px;
    padding-left: 125px;
    opacity: 1;
    .icon-col {
      width: 40px;
      height: 40px;
      background-color: $color-blue-green;
      border-radius: 100%;
      margin-bottom: 12px;
      .fa {
        padding-top: 12px;
        opacity: 1;
      }
    }
  }
  .superb-list {
    display: flex;
    justify-content: space-around;
    text-align: left;
  }
  .superb {
    li {
      list-style-type: none;
      max-width: 450px;
      position: relative;
    }
  }
  .info-superb {
    max-width: 370px;
    height: auto;
    position: relative;
  }
.list-footer-top{
  display: flex;
  li{
    text-transform: uppercase;
    text-align: left;
    margin: $margin-center;
    line-height: 70px;
    padding:0 1em 0 1em;
    &:last-child{
      margin-right: 0;
    }
  }
}
  @each $color in $col {
    $i: index($col, $color);
    .list-footer-top > :nth-child(#{$i}) {
      border-top: 15px solid nth($col, $i);
    }
  }
