.list-header{
display: flex;
}
.list-header{
  li{
    color: $color-grey-blue;
    margin-left: 2rem;
  }
  &:last-child{
    margin-left: 0;
  }
  a{
    color: $color-grey-blue !important;;
    &:hover{
      text-decoration: none;
      color: $color-grey-blue;
    }
  }
}
.navigation-welcome-left{
  li {
    margin-left: 1rem;
  }
}
.navigation{
  display: flex;
  li{
    text-transform: uppercase;
    text-align: center;
    margin: $margin-center;
    line-height: 70px;
    padding:0 1em 0 1em;
    &:last-child{
      margin-right: 0;
    }
    }
  }
  a{
    color:$color-white !important;
    font-size: 12px;
    font-family: $font-oxygen;
    &:hover{
      color:$color-white;
      text-decoration: none;
    }
  }
@each $color in $colors {
  $i: index($colors, $color);
  .navigation > :nth-child(#{$i}) {
    border-top: 10px solid nth($colors, $i);
  }
}
.icon-list{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  li{
    border-radius: 40px;
    background: $color-blue-green;
    width: 40px;
    height:40px;
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  i{
    margin-top: 15px;

  }
}
  .card-list-style {
    display: flex;
    align-items: center;
    .card-list {
      position: relative;
    }
  }
  .card-list {
    margin-top: 30px;
    &:hover {
      .col-hover {
        display: block;
      }
    }
  }
  .icon {
    display: flex;
    flex-direction: column;
    padding-top: 76px;
    padding-left: 125px;
    opacity: 1;
    .icon-col {
      width: 40px;
      height: 40px;
      background-color: $color-blue-green;
      border-radius: 100%;
      margin-bottom: 12px;
      .fa {
        padding-top: 12px;
        opacity: 1;
      }
    }
  }
  .superb-list {
    display: flex;
    justify-content: space-around;
    text-align: left;
  }
  .superb {
    li {
      list-style-type: none;
      max-width: 450px;
      position: relative;
    }
  }
  .info-superb {
    max-width: 370px;
    height: auto;
    position: relative;
  }
.list-footer-top{
  display: flex;
  li{
    text-transform: uppercase;
    text-align: left;
    margin: $margin-center;
    line-height: 70px;
    padding:0 1em 0 1em;
    &:last-child{
      margin-right: 0;
    }
  }
}
  @each $color in $col {
    $i: index($col, $color);
    .list-footer-top > :nth-child(#{$i}) {
      border-top: 15px solid nth($col, $i);
    }
  }
.user{
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:first-child{
    margin-left: 0;
  }
}
.about-user{
  a {
    font-size: 14px;
  }
}
.list-category{
  width: 210px;
  position: relative;
  margin-bottom: 20px;
  .category-li{
    text-align: left;
   padding: 15px 0 15px 30px;
    border-bottom: 1px solid $color-light-grey;
    &:last-child{
      border-bottom: none;
    }
    a{
      color: $color-blue-green !important;
    }
    &:before{
      content: '';
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      right: 30px;
      left: 0;
      background-image: url("../../images/bookmark.png");
    }
  }
}
.list-category{
  .comments-li{
    text-align: left;
    padding: 10px 0 10px 0;
    &:before{
      content: '';
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      right: 30px;
      left: 0;
      background-image: url("../../images/quote.png");
    }
  }
}
.photo-list{
  display: flex;
  margin-bottom: 40px;
  li{
    margin-right: 30px;
    &:last-child{
      margin-right: 0;
    }
  }
}
.date-coment{
  margin-top: 20px;
  display: flex;
  position: relative;
}
.comment-mounth {
  max-width: 192px;
  margin-right: 55px;
  padding-top: 18px;
  &:before{
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 9px;
    top:0;
    bottom: 36px;
    background-image: url("../../images/calend.jpg");
  }
}
.portfolio-list-nav{
  display: flex;
  li{
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
  }
  a{
    color:$color-blue-green !important;
    padding-top: 10px;
    &:hover{
      color: $color-black;
      border-top: 3px solid $color-light-grey;
    }
  }
}
.description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  li{
    margin-bottom: 10px;
    font-size: 14px;
    font-family: $font-oxygen;
    i{
      margin-right: 10px;
      color: $orange;
    }
  }
}
.dots{
  display: flex;
  justify-content: space-between;
  align-items: center;
  li{
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
  }
}
.dots-mg{
  margin-bottom: 100px;
}