.list-header{
display: flex;
}
.list-header{
  li{
    color: $color-grey-blue;
    margin-left: 2rem;
  }
  &:last-child{
    margin-left: 0;
  }
  a{
    color: $color-grey-blue;
    &:hover{
      text-decoration: none;
      color: $color-grey-blue;
    }
  }
}
.list-bottom-header{
  padding: .5rem 0 .5rem 0;
  display: flex;
  li{
    text-transform: uppercase;
    text-align: center;
    max-width: 100px;
    margin: $margin-center;
    &:last-child{
      margin-right: 0;
    }
  }
  a{
    color:$color-white;
    font-size: 12px;
    &:hover{
      color:$color-white;
      text-decoration: none;
    }
  }
}
$colors: orange, orangered, crimson, mediumvioletred, purple, darkblue, dodgerblue;
@each $color in $colors {
  .#{$color}-bg {
    background : $color;
  }
}
.orange-bg{
  background: orange;
}
.orangered-bg{
  background: orangered;
}
.crimson-bg{
background: crimson;
}
.mediumvioletred-bg{
  background: mediumvioletred;
}
.purple-bg{
  background:purple;
}
.darkblue-bg{
  background: darkblue;
}
.dodgerblue-bg{
  background: dodgerblue;
}
.list-color{
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  max-width: 695px;
  height: 11px;
  li {
    width: 100px;
    height:11px;
  }
}
.card-list-style{
  display: flex;
align-items: center;
  .card-list{
    position: relative;
  }
}
.card-list{
  &:hover{
    .col-hover {
      display: block;
    }
  }
}
.icon {
  display: flex;
  flex-direction: column;
  padding-top: 76px;
  padding-left: 125px;
  opacity: 1;
  .icon-col {
    width: 40px;
    height: 40px;
    background-color: $color-blue-green;
    border-radius: 100%;
    margin-bottom: 12px;
    .fa{
      padding-top: 12px;
      opacity: 1;
    }
  }
}
.superb-list{
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.superb{
  li {
    list-style-type: none;
    max-width: 450px;
    position: relative;
  }
}
.info-superb{
  max-width:370px;
  height: auto;
  position: relative;
}
