.fa-cogs-pd{
  margin: 0 auto;
}
.fa-circle-mg{
  margin-left: 20px;
  &:first-child{
    margin: 0;
  }
}
.pd{
  top: 235px;
  left: 0;
  right: 0;
}
.col-mg{
  margin-bottom: 124px;
}
.top-team{
  margin-top: 50px;
}
.text-center{
  text-align: center;
  margin: 0 15px 0 15px;
  padding-top: 58px;
}
.top-mg{
  margin: 0 auto;
  bottom: 165px;
  padding: 15px;
  left:38px;
}
.margin-none{
  margin-bottom: 0;
}
.slide-h4{
  margin-bottom: 20px;
}
.central-h4{
  margin-top: 40px;
}
.all-content-mrg{
  margin: 0;
  color: $color-black;
  margin-left: 10px;
}
.soc-list-center{
  display: flex;
  justify-content: center;
}