.fa-cogs-pd{
  margin: 0 auto;
}
.fa-circle-mg{
  margin-left: 20px;
  &:first-child{
    margin: 0;
  }
}
.pd{
  top: 235px;
  left: 0;
  right: 0;
}
.col-mg{
  margin-bottom: 124px;
}
.dots-mg{
  margin-bottom: 86px;
}
.top-team{
  margin-top: 50px;
}