.welcome{
  max-width: $max-width;
  height: $max-height;
  background: $background-grey;
  position: relative;
  margin: 0 auto;
  &:before{
    content: '';
    top:0;
    bottom:0;
    left: 0;
    right:0;
    position: absolute;
    background-image: url("../../images/1680-950.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
section{
  width: $max-width;
  text-align: center;
  padding: 100px 0 100px 0;
  margin: 0 auto;
}
.steal{
  max-width: $max-width;
  background-color: white;
  height: auto;
  text-align: center;
}
.section-header{
  text-align: center;
}
.portfolio{
  max-width: $max-width;
  height: auto;
  background-image: url("../../images/1680-740.png");
  background-position: center;
  background-size: cover;
  color: $color-white;
}
.info-block{
  height: auto;
  background-color: #02baab;
  padding-top: 65px;
  padding-bottom:65px;
}
.block-info-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blockquote{
  background-image: url("../../images/1680-450.png");
  background-size: cover;
  background-position: center;
  img{
    margin-top: 43px;
  }
}
.coment{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
}
.coments{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.card-list-blog{
  margin-top: 71px;
}
.company{
   background-color: #02baab;
}
.company-row{
  display: flex;
  justify-content: space-between;
  margin-top: 47px;
  position: relative;
}
.company-col{
  display: flex;
  align-items: center;
  max-width: 215px;
  height: 215px;
  border-radius: 215px;
  border: 3px solid white;
}
.company-bg{
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 100px;
  margin: 0 auto;
}
.dots{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col-team{
  padding: 0;
  max-width: 210px;
}
.team-mg{
  display: flex;
  justify-content: space-between;
}
